:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color: rgb(24, 23, 23);
    --primary-color: #EE4D2D;
    --border-color:#dbdbdb;
    --star-color:#ffce3d;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar: 46px;
}

*{
    box-sizing: inherit;
}
/* resposnive */

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family:'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid-column-2{
    padding-left:5px;
    padding-right:5px;
    width:16.6667%;
}
.grid-column-2-4{
    padding-left:5px;
    padding-right:5px;
    width:20%;
}
.grid-column-10{
    padding-left:5px;
    padding-right:5px;
    width:83.3333%;
}


@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes growth{
    from{
        transform:scale(var(--growth-from));
    }
    to{
        transform:scale(var(--growth-to));
    }
}

/* Phần modal */

.modal{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position:fixed;
    display:flex;
    animation: fadeIn linear .3s;
    display: none;
}
.modal_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.4);
    
}
.modal_body{
    margin: auto;
    position: relative;
    z-index:1;
    animation: growth linear .3s;
    --growth-from: 0.7;
    --growth-to: 1;

}

/* Phần button */
.btn{
    min-width: 124px;
    height:36px;
    background-color: var(--white-color);
    border:none;
    color:var(--text-color);
    font-size:1.4rem;
    border-radius: 2px;
    cursor:pointer;
    display: inline-flex;
    justify-content:center;
    align-items:center;
    padding:0 12px;
}
.btn.btn_normal:hover{
    background-color: rgba(0, 0, 0, 0.1)
}
.btn.btn-primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.btn.btn-disable{
    color:#949494;
    cursor:default;
    background-color: #c3c3c3;
}
.disable{
    color:#555;
    cursor: text;
}
.btn.btn-size-s{
    height:32px;
    font-size: 12px;
    padding: 0 8px;
}
/* Selection */
.select-input{
    height:34px;
    min-width: 120px;
    border-radius:2px;
    padding: 0 12px;
    background-color: var(--white-color);
    display:flex;
    justify-content:space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.select-input-icon{
    font-size:1.4rem;
    color: rgb(131,131,131);
    position:relative;
}
/* Pagination */
.pagination-list {
    display:flex;
    justify-content:center;
    align-items:center;
}
.pagination-item {
    list-style-type:none;
    margin:3px 16px;
}
.pagination-link {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    height:32px;
    min-width:42px;
    display:block;
    color:rgb(111,111,111);
    text-decoration: none;
    line-height:32px;
}
.pagination-item-active a{
    color:var(--white-color);
    background-color:var(--primary-color)
}
.pagination-item-active a:hover{
    background-color: #e67b66;
}